Personal Assistant Using Telegram.json
{
  "name": "Personal Assistant Using Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2e4f16b2-8358-4088-bc83-fa8943cbb3e2",
      "name": "Telegram Trigger",
      "webhookId": "408df290-be7c-4911-8af5-6bfbc09414ec",
      "credentials": {
        "telegramApi": {
          "id": "aWIiiRRZr5BoUsEo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant that helps user fulfill their requests.\n\nWhen you are asked to perform a task on the current date, please use the current time and date :  {{ $now }}\n\n## OUtput\n\nYou should output the result and don't include any thing unnecessary. Just  make sure that you politely answer user question and ask if any other information is required.\n\n\nIf there is something related to getting the tasks, please make sure that you use the tool 'get_many_google_task_tool' to get the tasks as user want. Give a summary of the same without any links etc.\n\n\nIf there is something related to calendar or schedule or events, you have to use tool 'calendar_flow_agent' to call the seperate workflow with detailed 'text' ( time is {{ $now }}) so that it can work on the Query."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1424,
        0
      ],
      "id": "c7d32c31-6b66-48c7-8d04-eac08e29c746",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        352
      ],
      "id": "2b0150a4-bf7e-4e6d-87c4-753e81ca9399",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yGCcOq1VeG76wiV6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed66987c-b2d8-4e33-bad2-e6476c594990",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "93500e9e-a398-49f4-b4d3-151bcf68d44c",
              "name": "sessionId",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "e5239323-7925-4602-881a-96f3a83459ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        0
      ],
      "id": "757180b0-6e28-4482-8a55-95b74f30ae85",
      "name": "Send a text message",
      "webhookId": "4701162a-d6c8-4416-aa08-21da49cb3b5f",
      "credentials": {
        "telegramApi": {
          "id": "aWIiiRRZr5BoUsEo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1504,
        224
      ],
      "id": "90352cec-6c29-46c2-b94f-dc8f8a17f79b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "feabf872-0ae2-4749-a240-4997aa07c59f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aca5831b-bc5d-4b59-aae2-0e450eb2221f",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        288,
        224
      ],
      "id": "be415075-b62e-4290-9d67-85c3455e3951",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        320
      ],
      "id": "84ec4833-5360-44d8-b0c3-fe592de77716",
      "name": "Get a file",
      "webhookId": "f7442c68-5fed-40b4-b94c-0c280bf16b52",
      "credentials": {
        "telegramApi": {
          "id": "aWIiiRRZr5BoUsEo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        720,
        320
      ],
      "id": "1da08537-60f3-422c-aef2-c81f61b6e045",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "yGCcOq1VeG76wiV6",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f5016ec-e3f5-491e-8684-cf240b0fc116",
              "name": "message.text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "b763d61b-3378-4bec-bc45-3578071e54e3",
              "name": "sessionId",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        320
      ],
      "id": "700d5e63-a209-454d-8fcc-7914fb189a13",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTQyODQ4MDI3MzAxNTEyMTU0NTE6MDow",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {
          "showCompleted": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Show_Completed', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1664,
        224
      ],
      "id": "422d216a-6a23-4493-aa0a-cb1ebb096f5a",
      "name": "get_many_google_task_tool",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "xOxXYCihRuK5Xyxs",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "description": "This workflow helps to create events in google calendar or get events from the calendar.",
        "workflowId": {
          "__rl": true,
          "value": "XepWv6T4oy7ns6st",
          "mode": "list",
          "cachedResultName": "My Google Calendar Agent Flow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', ``, 'string') }}",
            "sessionId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1920,
        464
      ],
      "id": "49e8c43b-5c29-4416-9526-070f2a639af1",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_many_google_task_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "319efe05-99ce-4b6f-8fdf-91c6736fdff4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bee1aeadc4aedf417724fc1ceac3a5c93585c5c9d5e2c1c0c81fa89a5734b5e4"
  },
  "id": "lbzMlIIx8NtJ2iMG",
  "tags": []
}